/* 
.blur-top,
.blur-bottom {
    position: absolute;
    left: 0;
    right: 0;
    height: 150px;
    backdrop-filter: blur(5px);
    z-index: 1;
}

.blur-top::before,
.blur-bottom::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(8px);
}

.blur-top {
    top: 0;
}

.blur-top::before {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.blur-bottom {
    bottom: 0;
}

.blur-bottom::before {
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}





.btn1 {
    background-color: var(--white-color);
    margin-top: 60px;
    padding: 15px 30px;
    font-size: var(--font-size-s);
    font-weight: 400;
    border-radius: 10px;
}  */
/* 
.grid {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    height: 280px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.grid {
    display: grid;
    gap: 50px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    grid-template-columns: 527.68px 150px 250px;
    
}

.item-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.item-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
/* 
.item-4 {
    grid-area: four;
}

.item-5 {
    grid-area: five;
}

.item-6 {
    grid-area: six;
} */

/* 

.item-1 {
    width: 527.68px;
    height: 283.97px;
}
.item-2 {
    width: 201.32px;
    height: 283.97px;
}
.item-3 {
    width: 199.20px;
    height: 283.97px;
}
.item-4 {
    width: 264.23px;
    height: 283.97px;
}
.item-5 {
    width: 247.68px;
    height: 283.97px;
}
.item-6 {
    width: 416.42px;
    height: 283.97px;
} */