* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;


}

:root {
    /* Colors */
    --primary-color: #00875C;
    --secondary-color: #8FBF13;
    --white-color: #ffffff;
    --black-color: #404040;
    --grey-color: #8C8C8C;

    /* Font */
    --text-font-family: 'Inter', sans-serif;
    /* Font-size */

    /* Site-max-width */
    --site-max-width: 1400px;
}

/* header */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

img {
    width: 100%;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: var(--text-font-family);
}

.container {
    background: url("../Picture/home-bg.png") no-repeat center center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    inset: 0;
    z-index: 0;
    width: 100vw;
    height: 681px;
    padding: 67px 120px;
    width: 100vw;
    max-width: var(--site-max-width);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo {
    width: 159px;
    height: 55px;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.15));
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 51px;
    font-size: 14.34px;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.4));
}
.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-button,
.register-button {
    display: flex;
    align-items: center;
    padding: 8.93px;
    gap: 17.27px;
    filter: drop-shadow(0px 3.97231px 3.97231px rgba(0, 0, 0, 0.15));
}
.login-button {
    margin-left: 14.9px;
    width: 114.35px;
    height: 35.51px;
    margin-right: 14.9px;
}
.register-button {
    width: 114.35px;
    height: 35.51px;
}
.nav-right img {
    width: 22.03px;
    height: 22.04px;
}
/* Hero Section */
.hero {
    color: var(--white-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 170px;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}
.hero h1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 120%;
    width: 686px;
    max-width: 1200px;
    letter-spacing: 1.5px;
}
.hero p {
    width: 560px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 155%;
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 155%;
}

.search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 419px;
    width: 80%;
    max-width: 1200px;
    height: 65px;
    background-color: #00875CAB;
    display: grid;
    align-content: center;
    grid-template-columns: 3fr 1fr 1fr auto auto;
    /* 60% / 20% / 20% + icon + button */
    padding: 14px;
    gap: 5px;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.search-opacity {
    opacity: 68%;
}
.search input {
    width: 100%;
    height: 37px;
    border: 0;
    outline: 0;
    color: var(--black-color);
    font-size: 14px;
    font-family: var(--text-font-family);
    padding: 11.7px 15.19px;
    border-radius: 6px;
    box-sizing: border-box;
}
.search input::placeholder {
    color: black;
    font-size: 11.05px;
    opacity: 50%;
}
.search-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    width: 36px;
    height: 37px;
    border-radius: 6.3px;
    cursor: pointer;
}
.search-menu img {
    width: 18px;
    height: 21px;
}
.btn {
    background-color: var(--secondary-color);
    border-radius: 6.3px;
    color: var(--white-color);
    flex: 0 0 auto;
}

.search-button {
    width: 112px;
    height: 37px;
}

.container-button {
    display: flex;
    justify-content: center;
}

.container-button button {
    position: absolute;
    width: 223px;
    height: 50.14px;
    filter: drop-shadow(0px 5.5927px 5.5927px rgba(0, 0, 0, 0.15));
    top: 553.93px;
    font-weight: 700;
    font-size: 20.9726px;
}
/* Active Listings Section */

.active-listings {
    text-align: center;
    max-width: var(--site-max-width);
}

.active-listings h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 55px 0px 0px 0px;
    color: var(--black-color);
}
.active-listings p {
    font-size: 15px;
    font-weight: 500;
    color: var(--grey-color);
    max-width: 600px;
    margin: 24px auto 0px auto;
}
/* Cards container */
.card-list {
    display: flex;
    gap: 36.8px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 43px 120px 0px 120px;
    max-width: var(--site-max-width);
}
/* Card */
.card {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 2.5109px 3.34786px 24.5231px rgba(0, 0, 0, 0.1);
    border-radius: 10.8px;
    overflow: hidden;
    width: 295.4px;
    height: 364.9px;
    position: relative;
}

.card-active-box {
    font-size: 11.5px;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--secondary-color);
    position: absolute;
    top: 19px;
    right: 19.4px;
    width: 44px;
    height: 20px;
    padding: 6px 4.5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}
.card-body {
    padding: 10px 20px 0px 20px;
    text-align: left;
    line-height: 20px;
}

.card-body h3 {
    font-size: 13px;
    font-weight: 500;
    color: var(--black-color);
}

.card-price {
    font-size: 11.72px;
    color: var(--primary-color);
    font-weight: 500;
}
.card-body p {
    font-weight: 400;
    font-size: 10.88px;
    color: var(--grey-color);
    line-height: 16px;
}
.card-features {
    margin: 0px 20px 10px 20px;
    display: flex;
    color: var(--grey-color);
    font-size: 12.5px;

}
.card-features span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 0px 20px 0 0;
}

.card-features img:nth-of-type(1) {
    width: 15px;
    height: 12px;
}
.card-features img:nth-of-type(2) {
    width: 14px;
    height: 12px;
}
.card-features img:nth-of-type(3) {
    width: 17px;
    height: 17px;
}
.card-footer {
    border-top: 1px solid #eee;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-author {
    font-size: 10.4px;
    display: flex;
    align-items: center;
    height: 24px;
    gap: 7px;
}
.card-author img {
    width: 30px;
    height: 30px;
    gap: 20px;
}
.footer-icon {
    display: flex;
    gap: 5px;
}
.footer-icon img {
    width: 22.6px;
}

.card-loader {
    width: 100%;
    margin-top: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16.67px;
}
.card-loader div {
    width: 12.5px;
    height: 12.5px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    opacity: 20%;
}
.card-loader div:nth-child(2) {
    opacity: 100%;
}
/* Global Real Estate Exchange  */
.estate-exchange-bg {
    height: 1122.02px;
    background-color: #F8F8F6;
    margin-top: 57.5px;
    width: 100vw;
    margin-right: auto;
    /* margin-left: calc(-50vw + 50%); */
    max-width: var(--site-max-width);
}

.estate-exchange-bg h1 {
    font-weight: 600;
    font-size: 30px;
    color: var(--black-color);
    padding-top: 61px;
}

.estate-exchange-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 52px auto 0 auto;
    width: 960px;
    gap: 55px;
}

.estate-exchange-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    height: 899px;
}

.estate-exchange-paragraph p {
    width: 551px;
    font-weight: 500;
    font-size: 16.22px;
    line-height: 25px;
    margin-top: 0px;

}

.estate-exchange-sec img {
    width: 350px;
    height: 893px;
}

/* Own Your Place in the Global Market */
.global-market {
    text-align: center;
    line-height: 100%;
    max-width: var(--site-max-width);

}
.global-market h1 {
    margin-top: 48px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: var(--black-color);

}
.global-market h2 {
    margin-top: 22px;
    font-weight: 500;
    font-size: 15px;
    color: var(--grey-color);
    align-items: center;
}

/* Card-List */

.global-market-card-list {
    width: 100%;
    max-width: var(--site-max-width);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 53px;
    gap: 50px;
    flex-wrap: wrap;
    position: relative;
}

.global-market-card-1,
.global-market-card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 455px;
    height: 507px;
    background: #FFFFFF;
    box-shadow: 1.9977px 3.9954px 19.1759px rgba(0, 0, 0, 0.15);
    border-radius: 14.8248px;
    padding: 29.13px 37px 43px 36px;
}

.global-market-card-1 img,
.global-market-card-2 img {
    width: 77.17px;
}

.global-market-card-1 h1,
.global-market-card-2 h1 {
    margin: 14.87px 0px 20px 0px;
    font-weight: 600;
    font-size: 19.7786px;
    line-height: 24px;
    text-align: center;
    color: var(--black-color);
}

.global-market-card-1 p,
.global-market-card-2 p {
    margin-top: 25px;
    font-weight: 400;
    font-size: 11.5734px;
    margin-top: 12px;
    font-weight: 400;
    font-size: 11.5734px;
    line-height: 18px;
    text-align: left;
    color: black;
    opacity: 50%;
}

.global-market-btn-card-1,
.global-market-btn-card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 40px;
    position: absolute;
    background-color: var(--secondary-color);
    filter: drop-shadow(0px 5.5927px 5.5927px rgba(0, 0, 0, 0.15));
    bottom: 43px;

}

.global-market-btn-card-1 button,
.global-market-btn-card-2 button {
    border-radius: 5.56px;
    font-weight: 700;
    font-size: 16.6739px;
    color: var(--white-color);
}

/* About Us */
.about-us {
    width: 100%;
    max-width: 958.55px;
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    margin: 53px auto 0px auto;
    height: 1595.19px;
    box-shadow: 4.17045px 4.17045px 55.2584px rgba(0, 0, 0, 0.15);
    border-radius: 20.8522px;
}

.about-us-card-1,
.about-us-card-2,
.about-us-card-3 {
    display: flex;
    text-align: left;

}

.about-us-left-card-1,
.about-us-left-card-2,
.about-us-left-card-3 {
    padding: 60px 75px 0px 63px;
    height: 519.35px;
    display: flex;
    flex-direction: column;
}

.about-us-left-card-1 h1,
.about-us-left-card-2 h1,
.about-us-left-card-3 h1 {
    font-weight: 500;
    font-size: 32.4447px;
    line-height: 39px;
    color: var(--black-color);
}

.about-us-left-card-1 p,
.about-us-left-card-2 p,
.about-us-left-card-3 p {
    font-weight: 400;
    font-size: 16.2223px;
    line-height: 23px;
    color: var(--black-color);
    opacity: 50%;
    width: 100%;

}

.about-us-card-2 {
    position: relative;

}

.about-us-left-card-2 {
    padding-top: 35px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.about-us-left-card-3 {
    padding-top: 35px;
}

.about-us-right img {
    width: 100%;
    min-width: 478.29px;
    height: 519.35px;
    border-radius: 21.8948px;
}

.about-us-card-2 {
    flex-direction: row-reverse;
}


.global-listings-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 40px;
    position: absolute;
    background-color: var(--secondary-color);
    filter: drop-shadow(0px 5.5927px 5.5927px rgba(0, 0, 0, 0.15));
    bottom: 61px;

}

.global-listings-btn button {
    border-radius: 5.56px;
    font-weight: 700;
    font-size: 16.6739px;
    color: var(--white-color);
}


.map-img img {
    /* width: 100%; */
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 100.57px;
}
.our-details {
    background-color: #091F33;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: 337.5px;
    
}
.about-contact {
    color: var(--white-color);
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 48px 120px 25px 120px;
}

.our-details .about {
    width: 326px;
}

.our-details .about h6 {
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.our-details .about p {
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #FFFFFF
}

.our-details .contact {
    margin-left: 330px;
    width: 298px;
    height: 191.17px;
    left: 776px;

}

.our-details .contact h6 {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 6.83px;
}

.contact ul li {
    list-style: disc;
    font-weight: 400;
    font-size: 12px;
    line-height: 234%;
}

.end-line {
    width: 380px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    margin-bottom: 20px;

}

.end-line p{
    font-weight: 400;
    font-size: 12px;
    
}

.end-line p:nth-of-type(1) {
    color: #646A94;
   
}
.end-line p:nth-of-type(2) {
    color: white;
}